$color_primary: blue;
$color_secondary: red;
$color_primary_background: white;
$color_secondary_background: grey;
$color_primary_text: black;

body{
    font-family: Roboto;
    background-color: $color_primary_background;
    margin: 0 0;
    div{
        border: 1px solid $color_secondary_background;
        .logo{
            background-color: $color_primary_background;
        }
        .mini-card-list{
            background-color: $color_secondary_background;
            display:grid;
            grid-gap: 15px;
            padding: 15px;
            grid-template-columns: repeat(auto-fill,minmax(110PX, 1fr));
            width: 650px;
            margin-left:auto;
            margin-right: auto;
            @media (max-width: 600px) {
                width: 100%;
              }
            .mini-card{
                width: 100px;
                height: 50px;
                background-color: $color_primary_background;
            }
        }
        .card-list{
            background-color: $color_primary_background;
            display:grid;
            grid-gap: 15px;
            padding: 15px;
            grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
            width: 80%;
            margin-left:auto;
            margin-right: auto;
            @media (max-width: 1090px) {
                width: 90%;
            }
            @media (max-width: 880px) {
                width: 100%;
            }
            .card{
                width: 250px;
                height: 280px;
                background-color: $color_primary_background;
                margin-bottom:20px;
                margin-left:auto;
                margin-right: auto;
            }
        }

        .element{
            display:block;
            border-radius: 3px;
            //box-shadow: 0px 2px 6px rgba(0,0,0,0,15);
            margin-bottom: 0.5em;
        }

    }
}
